<?xml version="1.0" encoding="UTF-8"  ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workmanagement.dao.AddLogDao">
	<resultMap type="com.workmanagement.model.AddLog" id="query">
		<result column="detail_" property="value" jdbcType="CLOB" javaType = "java.lang.String" />
	</resultMap>
	<select id="queryValue" resultMap="query" >
		${sql}
	</select>
</mapper>
