<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workmanagement.dao.ReportIndexErrorDao">
	<resultMap type="com.workmanagement.model.ReportIndexError" id="reportIndexError">
		<id column="report_index_error_id" property="reportIndexErrorId"/>
		<result column="report_index_id" property="reportIndexId"/>
		<result column="report_index_error_item_code" property="reportIndexErrorItemCode"/>
		<result column="report_index_error_name" property="reportIndexErrorName"/>
		<result column="report_index_error_value" property="reportIndexErrorValue"/>
		<result column="report_index_error_notes" property="reportIndexErrorNotes"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.workmanagement.model.ReportIndexError" useGeneratedKeys="true" keyProperty="reportIndexErrorId">
		INSERT INTO report_index_error_tb(report_index_id,report_index_error_item_code,report_index_error_name,report_index_error_value,report_index_error_notes)
		VALUES(#{reportIndexId},#{reportIndexErrorItemCode},#{reportIndexErrorName},#{reportIndexErrorValue},#{reportIndexErrorNotes})
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="com.workmanagement.model.ReportIndexError">
		UPDATE report_index_error_tb
		<set>
			<if test="reportIndexId!=null">report_index_id=#{reportIndexId},</if>
			<if test="reportIndexErrorItemCode!=null">report_index_error_item_code=#{reportIndexErrorItemCode},</if>
			<if test="reportIndexErrorName!=null">report_index_error_name=#{reportIndexErrorName},</if>
			<if test="reportIndexErrorValue!=null">report_index_error_value=#{reportIndexErrorValue},</if>
			<if test="reportIndexErrorNotes!=null">report_index_error_notes=#{reportIndexErrorNotes},</if>
			<if test="reportIndexErrorDelete!=null">report_index_error_delete=#{reportIndexErrorDelete}</if>
		</set>
		WHERE report_index_error_id = #{reportIndexErrorId}
	</update>

	<delete id="deleteByReportIndexId">
		DELETE FROM report_index_error_tb WHERE report_index_id = #{reportIndexId}
	</delete>
</mapper>
