			*{
				margin: 0pt;
				padding: 0pt;
			}
			.title0{
				font-size: 20px;
			}
			.fontBold{
				font-weight: bold;
			}
			.textCenter{
				text-align: center;
			}
			.textRight{
				text-align: right;
			}
			.headBox{
				width: 180mm;
				margin: auto;
			}
			.headBox span{
				display: inline-block;
				font-size: 10px;
				margin-bottom: 10px;
			}
			.spanCenter{
				width: 80%;
				text-align: center;
			}
			.spanRight{
				width: 19%;
				text-align: right;
			}
			.mainTable{
				table-layout: fixed;
				word-break: break-all;
				width: 180mm;
				margin: auto;
				border-top: 1px solid black;
				border-right: 1px solid black;
				margin-bottom: 50px;
			}
			.mainTable caption,.title0{
				margin: 30px auto 20px;
				font-size: 20px;
				text-align: center;
				font-weight: bold;
			}
			.mainTable tr td{
				text-align: center;
				font-size: 12px;
				padding: 2mm;
				border-bottom: 1px solid black;
				border-left: 1px solid black;
			}
			.closeBtn{
				display: inline-block;
				width: 120px;
				height: 30px;
				margin: 0px auto 30px;
				border: none;
				outline: none;
				border-radius: 4px;
				background-color: rgb(56,165,226);
				text-decoration: none;
				text-align: center;
				line-height: 30px;
				color: white;	
				font-size: 12px;
				cursor: pointer;
			}